@font-face {
    font-family: "Bebas";
    src: url('fonts/bebasneue-regular-webfont.woff2') format('woff2'),
         url('fonts/bebasneue-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(img/background.gif);
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas';
    font-weight: normal;
}

h1 {
    font-size: 32pt;
}

h2 {
    font-size: 25pt;
}

h3 {
    font-size: 18pt;
}

#mobile-navbar {
    display: none;
}

#mobile-button {
    vertical-align: middle;
}

#mobile-navbar-text {
    font-family: 'Bebas';
    vertical-align: middle;
    font-size: 20pt;
    margin-left: 5px;
}

.header {
    width: 100%;
    color: darkgray;
}

.header:hover {
    cursor: pointer;
}

#banner {
    width: 100%;
}

.link:hover {
    cursor: pointer;
    color: gray;
}

#vhl-teams, #vhlm-teams {
    width: 100%;
    height: 70px;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    text-align: center;
    background-color: #131516;
}

#vhl-teams img, #vhlm-teams img {
    height: 100%;
    opacity: 30%;
    transition: opacity 1s;
    padding-left: 8px;
    padding-right: 8px;
}

#vhl-teams img:hover, #vhlm-teams img:hover {
    opacity: 100%;
    transition: opacity 1s;
    cursor: pointer;
}

.main-div {
    background-color: #23272A;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    box-shadow: 0px 0px 40px 20px #000;
}

#content {
    background-color: #23272A;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
}

.intro {
    font-size: 16pt;
}

#footer {
    text-align: center;
    padding: 2px;
    background-color: #000;
    color: white;
    font-size: 10pt;
}

.toolbar {
    margin-top: -30px;
}

.toolbar button {
    margin-right: 40px;
    background-color: transparent;
    border: 3px white solid;
    border-radius: 10px;
    font-family: 'Bebas';
    font-size: 18pt;
    height: 40px;
    width: 120px;
    color: white;
}

.toolbar button:hover {
    background-color: white;
    color: #23272A;
    cursor: pointer;
}

.toolbar h3{
    display: inline-block;
    margin-right: 40px;
}

.toolbar label {
    user-select: none;
    font-family: 'Bebas';
    font-size: 14pt;
    position: relative;
}

.filter {
    margin-right: 40px;
}

.selection-div {
    text-align: center;
}

.selection {
    display: inline-block;
    width: 27%;
    border: 8px black solid;
    border-radius: 20px;
    background-color: #131516;
    overflow: hidden;
    margin: auto;
    transition: color .5s;
}

.selection:hover {
    color: #777777;
    cursor: pointer;
    transition: color .5s;
}

.selection:hover > img {
    opacity: .8;
    transition: opacity .5s;
}

.selection img {
    width: 100%;
    background-color: rgb(146, 145, 145);
}

.selection-description {
    background-color: #131516;
}

a:link, a:visited, a:hover, a:active {
    color: #FFFFFF;
    text-decoration: none;
}

.article {
    display: inline-flex;
    vertical-align: top;
    width: 90%;
    border: solid black 8px;
    border-radius: 5px;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 10px;
}

.articleText {
    display: inline-block;
    width: 80%;
    padding-left: 20px;
    background-color: #131516;
    font-size: 14pt;
}

.articleText > * {
    position: relative;
    top: -10px;
}

.footnote {
    font-size: 10pt;
    font-style: italic;
}

.articleImage {
    display: inline-flex;
    justify-self: left;
    width: 20%;
    height: 100%;
    border-right: 8px solid black;
}

.articleImage img {
    width: 100%;
}

.fadeOut {
    opacity: 0;
    transition: opacity .5s;
}

.fadeIn {
    opacity: 1;
    transition: opacity .5s;
}

/*Responsive Design*/

@media only screen and (max-width: 1788px) {
    #vhl-teams, #vhlm-teams {
        height: 60px;
    }
}

@media only screen and (max-width: 1591px) {
    #vhl-teams, #vhlm-teams {
        height: 50px;
    }
}

@media only screen and (max-width: 1391px) {
    #vhl-teams, #vhlm-teams {
        height: 40px;
    }
}

@media only screen and (max-width: 1191px) {
    #vhl-teams, #vhlm-teams {
        display: none;
    }

    #content {
        padding-left: 4px;
        width: 90%;
    }

    .main-div {
        position: relative;
        left: -7px;
        top: -8px;
        width: 99.5vw;
        margin: 0px;
        padding: 0px;
        box-shadow: none;
    }

    #mobile-navbar {
        display: block;
        background-color: #131516;
        position: relative;
        top: -4px;
    }

    #mobile-navbar-expanded {
        display: none;
        background-color: #131516;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        height: 400px;
        overflow-y: scroll;
    }

    .mobileNavbarTeam {
        display: flex;
        align-items: center;
        height: 50px;
        width: 100%;
        overflow-y: hidden;
    }

    .mobileNavbarTeam img {
        width: 50px;
    }

    .mobileNavbarTeam .teamName {
        color: white;
        font-size: 14pt;
        padding-left: 10px;
    }

    #mobile-button {
        height: 40px;
        padding-left: 5px;
    }

    .articleText {
        width: 100%;
        padding: 3px;
    }

    .article {
        width: 100%;
        margin-left: 0px;
    }

    .articleImage {
        display: none;
    }

    .selection {
        width: 103%;
    }

    .selection-div {
        text-align: left;
    }

    .selection img {
        vertical-align: middle;
        width: 40%;
    }

    .selection-description {
        vertical-align: middle;
        display: inline-flex;
    }

}