<h1>Calgary Wranglers Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank"
        href="https://shop.spreadshirt.com/victoryhockeyleague/calgary+wranglers+logo?idea=6003f769109e072d6eabdd19">
        <div class="selection">
            <img
                src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T129A2PA220PT26X35Y8D1036184406S100/views/1,width=500,height=500,appearanceId=2/calgary-wranglers-logo-baseball-cap.jpg">
            <div class="selection-description">
                <h2>Primary Logo</h2>
            </div>
        </div>
    </a>
    <a target="_blank"
        href="https://shop.spreadshirt.com/victoryhockeyleague/calgary+wranglers+distressed+logo?idea=6003f73739bee151e59b54a7">
        <div class="selection">
            <img
                src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X12Y31D1036184221FS9669/views/1,width=500,height=500,appearanceId=295/calgary-wranglers-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
    <a target="_blank"
        href="https://shop.spreadshirt.com/victoryhockeyleague/calgary+wranglers+logo?idea=5e028b4ff9376451e09a9554">
        <div class="selection">
            <img
                src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X52Y44D1027053025FS5295/views/1,width=500,height=500,appearanceId=295/calgary-wranglers-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Vintage Logo</h2>
            </div>
        </div>
    </a>
    <a target="_blank"
        href="https://shop.spreadshirt.com/victoryhockeyleague/calgary+wranglers+distressed+logo?idea=5e008793f9376451e084f592">
        <div class="selection">
            <img
                src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X9Y39D1027035647FS9854/views/1,width=500,height=500,appearanceId=295/calgary-wranglers-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Vintage Distressed</h2>
            </div>
        </div>
    </a>
</div>