<h1>Chicago Phoenix Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/chicago+phoenix+logo?idea=5f0fe41f2051767b5e8ca9f9">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X66Y37D1031186460FS3371/views/1,width=500,height=500,appearanceId=2/chicago-phoenix-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/chicago+phoenix+distressed+logo?idea=5f0fdd8af937646e0df34517">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X27Y31D1031185920FS8723/views/1,width=500,height=500,appearanceId=295/chicago-phoenix-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>