<h1>HC Davos Dynamo Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/hv+dav+dynamo+logo?idea=5e028b502051761c005c2a05">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A134PA3176PT17X64Y31D1027052989FS4729/views/1,width=500,height=500,appearanceId=134/hv-dav-dynamo-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/h.c.+dav+dynamo+distressed+logo?idea=5def2b691cbf3a680b36684b">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A134PA3176PT17X9Y39D1026811183FS9854/views/1,width=500,height=500,appearanceId=134/hc-dav-dynamo-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>