<h1>D.C. Dragons Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/d.c.+dragons+logo?idea=5e028b6a1cbf3a5f36b49fb0">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A196PA3176PT17X56Y49D1027052991FS5195/views/1,width=500,height=500,appearanceId=196/dc-dragons-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/d.c.+dragons+distressed+logo?idea=5e101e5d2051761c008d216c">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X7Y31D1027183944FS9984/views/1,width=500,height=500,appearanceId=295/dc-dragons-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>