<h1>Halifax 21st Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/halifax+21st+logo?idea=5e1c23eb1cbf3a4bbd88b3d5">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A231PA3176PT17X58Y44D1027325940FS9965/views/1,width=500,height=500,appearanceId=231/halifax-21st-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/halifax+21st+distressed+logo?idea=5e13c16320517610ded0d194">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A258PA3176PT17X7Y36D1027225235FS9984/views/1,width=500,height=500,appearanceId=258/halifax-21st-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>