<h1 style="text-decoration: underline; margin-bottom: 10px;">Welcome to the new VHL Merchandise Store Page!</h1>
<p class="intro">
    PLEASE NOTE that this page does NOT replace the functionality of our Spreadshirt store. This site simply acts as a landing page for all of our different designs, sorted by team to make them easier to browse.
</p>
<p class="intro">
    Clicking a design will open the available products in a new Spreadshirt tab. Your cart will be maintained on Spreadshirt as you shop. When you're ready to check out, please do so through your cart on Spreadshirt. They'll handle all of the payment and shipping logistics.
</p>
<div class="article">
    <div class="articleImage">
        <img src="img/frontPage/CGY.gif">
    </div>
    <div class="articleText">
        <h1 style="margin-bottom: -10px;"><span class="link" onclick="navigate('CGY')">Death of the Derp Horse</span></h1>
        <p>Calgary has released a brand new lkogo for their organization. Shop for both their new and vintage logos <span class="link" onclick="navigate('CGY')">here!</span></p>
        <p class="footnote">Logo created by Motzaburger of vhlforum.com</p>
    </div>
</div>
<div class="article">
    <div class="articleImage">
        <img src="img/frontPage/lva.gif">
    </div>
    <div class="articleText">
        <h1 style="margin-bottom: -10px;"><span class="link" onclick="navigate('LVA')">Aces Fly Higher</span></h1>
        <p>The Las Vegas Aces have unveiled a new logo! New apparel and accessories have been added to the <span class="link" onclick="navigate('LVA')">shop!</span></p>
        <p class="footnote">Logo created by Zetterberg of vhlforum.com</p>
    </div>
</div>
<div class="article">
    <div class="articleImage">
        <img src="img/frontPage/exp.gif">
    </div>
    <div class="articleText">
        <h1 style="margin-bottom: -10px;">The More the Merrier</h1>
        <p>Four new teams join the VHL this season, bringing the total to a whopping 16. Four new sets of merch have been added as a result, which you can view by clicking one of the logos above.</p>
        <p class="footnote">Image made by an unknown forum member, please let me know who put this one together!</p>
    </div>
</div>
<div class="article">
    <div class="articleImage">
        <img src="img/frontPage/MIA.gif">
    </div>
    <div class="articleText">
        <h1 style="margin-bottom: -10px;"><span class="link" onclick="navigate('MIA')">Welcome to Miami</span></h1>
        <p>The Marauders join as the VHLM's newest franchise! Shop for Miami Marauders gear <span class="link" onclick="navigate('MIA')">here!</span></p>
        <p class="footnote">Image credits to Enorama at vhlforum.com</p>
    </div>
</div>