<h1>Houston Bulls Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/houston+bulls+logo?idea=5e1c23eb1cbf3a4bbd88b3d7">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A196PA3176PT17X55Y36D1027325988FS5220/views/1,width=500,height=500,appearanceId=196/houston-bulls-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/houston+bulls+distressed+logo?idea=5e158e6e1cbf3a4bbd755ddc">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A196PA3176PT17X7Y31D1027247487FS9984/views/1,width=500,height=500,appearanceId=196/houston-bulls-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>