<h1>Helsinki Titans Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/helsinki+titans+logo?idea=5df73d1a1cbf3a5f36fe411f">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X62Y40D1026922972FS4896/views/1,width=500,height=500,appearanceId=4/helsinki-titans-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/helsinki+titans+distressed+logo?idea=5de8b64ff93764174dc6106a">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X9Y39D1026705879FS9854/views/1,width=500,height=500,appearanceId=4/helsinki-titans-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>