<h1>Los Angeles Stars Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/los+angeles+stars+logo?idea=5f0fdd70f937646e0df32a89">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A228PA3176PT17X57Y38D1031185957FS6174/views/1,width=500,height=500,appearanceId=228/los-angeles-stars-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/los+angeles+stars+distressed+logo?idea=5f0fdd8a2051767b5e804af8">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X23Y30D1031185959FS9007/views/1,width=500,height=500,appearanceId=2/los-angeles-stars-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>