<h1>London United Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/london+united+logo?idea=5f0fe0ebf937646e0dfae612">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X71Y36D1031186168FS5261/views/1,width=500,height=500,appearanceId=4/london-united-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/london+united+distressed+logo?idea=5f0fdd8b2051767b5e804b23">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X12Y38D1031186008FS9669/views/1,width=500,height=500,appearanceId=4/london-united-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>