<h1>Las Vegas Aces Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/las+vegas+aces+logo?idea=5f573f8f1cbf3a4f1fb1ac3f">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A66PA3176PT17X71Y37D1032746090FS5659/views/1,width=500,height=500,appearanceId=66/las-vegas-aces-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/las+vegas+aces+distressed+logo?idea=5f573f82f937642510bddb4a">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A66PA3176PT17X7Y30D1032746183FS9984/views/1,width=500,height=500,appearanceId=66/las-vegas-aces-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/vintage+las+vegas+aces+logo?idea=5e1c23ed1cbf3a4bbd88b438">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A66PA3176PT17X60Y44D1027325990FS5007/views/1,width=500,height=500,appearanceId=66/vintage-las-vegas-aces-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Vintage Logo</h2>
            </div>
        </div>
    </a>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/vintage+las+vegas+aces+distressed+logo?idea=5e1649be1cbf3a4bbd1653d7">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A66PA3176PT17X7Y20D1027256695FS9984/views/1,width=500,height=500,appearanceId=66/vintage-las-vegas-aces-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Vintage Distressed</h2>
            </div>
        </div>
    </a>
</div>