<h1>Malmo Nighthawks Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/malmo+nighthawks+logo?idea=5e028b6b2051761c005c3099">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X69Y36D1027053077FS4559/views/1,width=500,height=500,appearanceId=4/malmo-nighthawks-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/malmo+nighthawks+distressed+logo?idea=5de8be2a2051765d324b480c">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X11Y41D1026706265FS9700/views/1,width=500,height=500,appearanceId=4/malmo-nighthawks-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>