<h1>Mexico City Kings Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/mexico+city+kings+logo?idea=5e1c23ecf937645225aa238a">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X49Y31D1027325989FS5503/views/1,width=500,height=500,appearanceId=2/mexico-city-kings-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/mexico+city+kings+distressed+logo?idea=5e158e6ef9376452258d3d48">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X7Y30D1027247486FS9984/views/1,width=500,height=500,appearanceId=2/mexico-city-kings-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>