<h1>Miami Marauders Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/miami+marauders+logo?idea=5ebb0cecf9376468c565aa22">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X60Y37D1029445062FS4890/views/1,width=500,height=500,appearanceId=2/miami-marauders-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/miami+marauders+distressed+logo?idea=5ebb0952f9376468c5589b88">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X12Y32D1029444756FS9669/views/1,width=500,height=500,appearanceId=2/miami-marauders-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>