<h1>Minnesota Storm Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/minnesota+storm+logo?idea=5e1c23eb1cbf3a4bbd88b3d6">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X58Y46D1027326055FS5078/views/1,width=500,height=500,appearanceId=295/minnesota-storm-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/minnesota+storm+distressed+logo?idea=5e158e6ef9376452258d3d46">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A295PA3176PT17X7Y38D1027247534FS9984/views/1,width=500,height=500,appearanceId=295/minnesota-storm-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>