<h1>Mississauga Hounds Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/mississauga+hounds+logo?idea=5e1c23d61cbf3a4bbd88aa68">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A258PA3176PT17X68Y39D1027325883FS4422/views/1,width=500,height=500,appearanceId=258/mississauga-hounds-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/mississauga+hounds+distressed+logo?idea=5e13c16220517610ded0d193">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A258PA3176PT17X10Y32D1027225148FS9826/views/1,width=500,height=500,appearanceId=258/mississauga-hounds-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>