<h1>Moscow Menace Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/moscow+menace+logo?idea=5e028b501cbf3a5f36b499b6">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X77Y37D1027053109FS4143/views/1,width=500,height=500,appearanceId=4/moscow-menace-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/moscow+menace+distressed+logo?idea=5e101e5c2051761c008d20e3">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X7Y30D1027183977FS9984/views/1,width=500,height=500,appearanceId=4/moscow-menace-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>