<h1>New York Americans Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/new+york+americans+logo?idea=5e1027a92051761c00904a24">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A228PA3176PT17X68Y53D1027184376FS4479/views/1,width=500,height=500,appearanceId=228/new-york-americans-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/new+york+americans+distressed+logo?idea=5def6155f937645cc1180999">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A228PA3176PT17X9Y39D1026813587FS9854/views/1,width=500,height=500,appearanceId=228/new-york-americans-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>