<h1>Ottawa Lynx Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/ottawa+lynx+logo?idea=5e6fd10ef9376435c3411037">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X93Y41D1028528379FS9985/views/1,width=500,height=500,appearanceId=2/ottawa-lynx-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/ottawa+lynx+distressed+logo?idea=5e6fd09d2051763c8e171eb6">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X12Y24D1028528458FS9700/views/1,width=500,height=500,appearanceId=2/ottawa-lynx-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>