<h1>Philadelphia Reapers Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/philadelphia+reapers+logo?idea=5e1c23d71cbf3a4bbd88aa96">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X79Y42D1027326024FS3936/views/1,width=500,height=500,appearanceId=2/philadelphia-reapers-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/philadelphia+reapers+distressed+logo?idea=5e1649bff9376452252fa4f2">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X7Y19D1027256862FS9984/views/1,width=500,height=500,appearanceId=2/philadelphia-reapers-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>