<h1>Prague Phantoms Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/prague+phantoms+logo?idea=5e028b51f9376451e09a9599">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X48Y45D1027052948FS5470/views/1,width=500,height=500,appearanceId=2/prague-phantoms-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/prague+phantoms+distressed+logo?idea=5e101e5c1cbf3a5f36e5b064">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X7Y35D1027184062FS9984/views/1,width=500,height=500,appearanceId=2/prague-phantoms-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>