<h1>Riga Reign Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/riga+reign+logo?idea=5e028b6a2051761c005c3094">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A95PA3176PT17X35Y34D1027053110FS6165/views/1,width=500,height=500,appearanceId=95/riga-reign-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/riga+reign+distressed+logo?idea=5e0087932051761c00471bc4">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A95PA3176PT17X9Y39D1027035708FS9854/views/1,width=500,height=500,appearanceId=95/riga-reign-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>