<h1>San Diego Marlins Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/san+diego+marlins+logo?idea=5e1c23edf937645225aa23b6">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A695PA3176PT17X80Y38D1027325942FS4035/views/1,width=500,height=500,appearanceId=695/san-diego-marlins-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/san+diego+marlins+distressed+logo?idea=5e1649be1cbf3a4bbd1653fb">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X7Y28D1027256793FS9984/views/1,width=500,height=500,appearanceId=4/san-diego-marlins-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>