<h1>Seattle Bears Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/seattle+bears+logo?idea=5e028b6a1cbf3a5f36b49fb1">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A22PA3176PT17X59Y48D1027053151FS5031/views/1,width=500,height=500,appearanceId=22/seattle-bears-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/seattle+bears+distressed+logo?idea=5e0087931cbf3a5f369b8d98">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A22PA3176PT17X9Y39D1027035546FS9854/views/1,width=500,height=500,appearanceId=22/seattle-bears-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>