<h1>Saskatoon Wild Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/saskatoon+wild+logo?idea=5e1c23ed1cbf3a4bbd88b44d">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X62Y49D1027325889FS4913/views/1,width=500,height=500,appearanceId=4/saskatoon-wild-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/saskatoon+wild+distressed+logo?idea=5e1649bf20517610ded204d7">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X7Y23D1027256863FS9984/views/1,width=500,height=500,appearanceId=4/saskatoon-wild-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>