<h1>Toronto Legion Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/toronto+legion+logo?idea=5e028b6b1cbf3a5f36b49fb3">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X31Y39D1027053026FS6354/views/1,width=500,height=500,appearanceId=4/toronto-legion-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/toronto+legion+distressed+logo?idea=5e213bbf205176043df290f1">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A696PA3176PT17X7Y18D1027392876FS9984/views/1,width=500,height=500,appearanceId=696/toronto-legion-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>