<h1>Vancouver Wolves Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/vancouver+wolves+logo?idea=5e028b6a1cbf3a5f36b49fb2">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X63Y45D1027053152FS5122/views/1,width=500,height=500,appearanceId=2/vancouver-wolves-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/vancouver+wolves+distressed+logo?idea=5e0087931cbf3a5f369b8d58">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A2PA3176PT17X9Y39D1027035679FS9854/views/1,width=500,height=500,appearanceId=2/vancouver-wolves-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>