<h1>Warsaw Predators Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/warsaw+predators+logo?idea=5f0fdd70f937646e0df32ad6">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A351PA3176PT17X41Y32D1031186003FS9064/views/1,width=500,height=500,appearanceId=351/warsaw-predators-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/warsaw+predators+distressed+logo?idea=5f0fdd8b1cbf3a5c9bc2260a">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X17Y30D1031185795FS9354/views/1,width=500,height=500,appearanceId=4/warsaw-predators-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>