<h1>Yukon Rush Designs</h1>

<div class="toolbar">
    <button onclick="navBack()">Go Back</button>
</div>

<div class="selection-div">
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/yukon+rush+logo?idea=5e1c23ee1cbf3a4bbd88b44e">
    <div class="selection">
        <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X60Y28D1027325943FS4996/views/1,width=500,height=500,appearanceId=4/yukon-rush-logo-mens-t-shirt.jpg">
        <div class="selection-description">
            <h2>Primary Logo</h2>
        </div>
    </div>
    <a target="_blank" href="https://shop.spreadshirt.com/victoryhockeyleague/yukon+rush+distressed+logo?idea=5e158e6e20517610de2f137e">
        <div class="selection">
            <img src="https://image.spreadshirtmedia.com/image-server/v1/compositions/T210A4PA3176PT17X7Y32D1027247580FS9984/views/1,width=500,height=500,appearanceId=4/yukon-rush-distressed-logo-mens-t-shirt.jpg">
            <div class="selection-description">
                <h2>Distressed Logo</h2>
            </div>
        </div>
    </a>
</div>